:root {
  --color-verde-claro: #8bc34a;
  --color-blanco: #ffffff;
  --color-gris-claro: #9e9e9e;
  --color-gris-op: #9e9e9eab;
  --color-naranja: #ff5722;
  --color-azul-oscuro: #263238;
  --color-negro: #333;
  --color-crema: #e5e7db;
}
