/* Importo la fuente  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  margin: 0;
  min-width: fit-content;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}
