.mainCard {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: rgba(255, 255, 255, 0.1); */
  padding: 25px 0 25px 0;
  margin-top: 25px;
  border-radius: 15px;
}

.textoDeHome {
  padding: 25px 0 0 0;
  margin-top: 50px;
  text-align: center;
  color: bisque;
  text-shadow: 2px 2px #303030;
}

.contenidoDeFiltros {
  padding: 10px 0 10px 0;
  text-align: center;
  color: bisque;
  text-shadow: 2px 2px #303030;
}
